<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
		<title>订单详情</title>
		<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.5.5.2/themes/default/easyui.css" />
		<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.5.5.2/themes/icon.css" />
		<script type="text/javascript" src="/jquery-easyui-1.5.5.2/jquery.min.js"></script>
		<script type="text/javascript" src="/jquery-easyui-1.5.5.2/jquery.easyui.min.js"></script>

	</head>

	<body>
		<h2>订单详情</h2>
		<div style="margin: 20px 0;"></div><a href="/order/index">返回会员游戏中心</a>

		<table class="easyui-datagrid" title="000" style="width: 1000px;" data-options="singleSelect:true,collapsible:true,url:'datagrid_data1.json',method:'get'">
			<thead>
				<tr>
					<th data-options="field:'dfid',width:200">订单号</th>
					<th data-options="field:'time',width:200">下单时间</th>
					<th data-options="field:'dpname',width:200">号码</th>
					<th data-options="field:'dodds',width:200">赔率</th>
					<th data-options="field:'dcount',width:200">数量</th>
				</tr>
			</thead>
		</table>
		<!--<img alt="测试用" src="/image/test.jpg" />
		<a href="/image/test.jpg">图片下载</a>-->

	</body>

</html>