<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
		<title>Insert title here</title>
	</head>

	<body>
		<div style="margin-top: 200px; margin-left: 600px; background-color: aquamarine; width: 400px; height: 300px;">
			<form action="/user/logincheck">
				<br /><br /><br /><br />
				<p style="margin-left: 100px;">账号<input type="text" name="username" /></p>
				<p style="margin-left: 100px;">密码<input type="password" name="password" /></p>
				<p style="margin-left: 180px;"><input type="submit" /></p>
			</form>
			
		</div>

	</body>

</html>