<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>
		<meta charset="UTF-8" />
		<title>规则</title>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

	</head>

	<body>
		<h1 th:inline="text">规则</h1>
		<div id="mydiv">数据</div>
		<a href="/lottery/history">同意并进入</a>
	</body>
	<script>
		$(function() {
			var $json = $.ajax({
				type: "get",
				url: "/client/getUser",
				async: true
			});
			$("#mydiv").html($json)

		})
	</script>

</html>